@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500&display=swap");

:root {
  --gray-dark: #212529;
  --gray: #a1a1a1;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

.active {
  color: var(--gray) !important;
}

nav {
  padding: 1rem;

  border-bottom: 3px dotted var(--gray);
}

.nav_overlay {
  width: 80%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav_overlay > ul {
  display: flex;
  list-style-type: none;
  gap: 2rem;
}

.nav_overlay > ul > li {
  color: var(--gray-dark);
  font-size: 15px;
  font-weight: 600;
}

.dropdown {
  position: relative;
}

.dropdown > li {
  color: var(--gray-dark);
  font-size: 15px;
  font-weight: 600;
}

.dropdown > li > i {
  margin-left: 0.5rem;
  font-size: 1rem;
}

.dropdown_menu {
  position: absolute;
  top: 4rem;
  visibility: hidden;

  background-color: white;
}

.dropdown_menu > p {
  white-space: nowrap;
  padding: 5px 10px;
  transition: 0.5s ease;
}

.line1 {
  width: 100%;
  height: 1px;
  background-color: var(--gray-dark);
}

.dropdown:hover .dropdown_menu {
  visibility: visible;
  transform: translateY(-2rem);
}

.dropdown_menu > p:hover {
  background-color: white;
  color: var(--gray);
  transform: translateX(6px);
  cursor: pointer;
}

.nav_overlay > i {
  font-size: 2rem;
  display: none;
}

header {
  padding: 3rem 1rem;
  display: grid;
  grid-template-columns: auto auto auto auto;
  gap: 2rem;
}

.main_category {
  background-image: url(https://templatemo.com/templates/templatemo_571_hexashop/assets/images/left-banner-image.jpg);
  grid-column: 1/3;
  grid-row: 1/3;
  height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.text_container {
  padding: 0 3rem;
}

.text_container > h1 {
  font-size: 2rem;
  color: white;
}

.text_container > p {
  font-style: italic;
  color: white;
  margin: 1rem 0;
}

.text_container > button {
  padding: 15px 20px;
  background: transparent;
  color: white;
  border: 1px solid white;
  font-weight: 500;
}

.text_container > button:hover {
  background-color: white;
  color: black;
}

.category {
  background-image: url(https://templatemo.com/templates/templatemo_571_hexashop/assets/images/baner-right-image-01.jpg);
  background-repeat: no-repeat;
  position: relative;
  background-size: cover;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.category > h1 {
  color: white;
  font-size: 2rem;
}

.category > p {
  color: white;
}

.category:hover .category_overlay {
  visibility: visible;
}

.category_overlay {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.919);
  width: 90%;
  height: 90%;
  top: 50%;
  left: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transform: translate(-50%, -50%);
  padding: 1rem;
  gap: 1rem;
  visibility: collapse;
}

.category_overlay > h1 {
  color: white;
  font-size: 2rem;
}

.category_overlay > p {
  color: white;
  font-style: italic;
}

.category_overlay > button {
  padding: 15px 20px;
  background: transparent;
  border: 1px solid white;
  color: white;
}

.category_overlay > button:hover {
  background-color: white;
  color: black;
}

@media only screen and (max-width: 1000px) {
  .nav_overlay > ul {
    display: none;
  }
  .nav_overlay > i {
    display: block;
  }

  header {
    display: flex;
    flex-direction: column;
  }

  .category {
    height: 500px;
  }
}
