@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500&display=swap");

:root {
  --gray-dark: #212529;
  --gray: #a1a1a1;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

.active {
  color: var(--gray) !important;
}

nav {
  padding: 1rem;

  border-bottom: 3px dotted var(--gray);
}

.nav_overlay {
  width: 80%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav_overlay > ul {
  display: flex;
  list-style-type: none;
  gap: 2rem;
}

.nav_overlay > ul > li {
  color: var(--gray-dark);
  font-size: 15px;
  font-weight: 600;
}

.dropdown {
  position: relative;
}

.dropdown > li {
  color: var(--gray-dark);
  font-size: 15px;
  font-weight: 600;
}

.dropdown > li > i {
  margin-left: 0.5rem;
  font-size: 1rem;
}

.dropdown_menu {
  position: absolute;
  top: 4rem;
  visibility: hidden;

  background-color: white;
}

.dropdown_menu > p {
  white-space: nowrap;
  padding: 5px 10px;
  transition: 0.5s ease;
}

.line1 {
  width: 100%;
  height: 1px;
  background-color: var(--gray-dark);
}

.dropdown:hover .dropdown_menu {
  visibility: visible;
  transform: translateY(-2rem);
}

.dropdown_menu > p:hover {
  background-color: white;
  color: var(--gray);
  transform: translateX(6px);
  cursor: pointer;
}

.nav_overlay > i {
  font-size: 2rem;
  display: none;
}

@media only screen and (max-width: 1000px) {
  .nav_overlay > ul {
    display: none;
  }

  .nav_overlay > i {
    display: block;
  }
}
